<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <style>
        /*
        DEMO STYLE
    */

        @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
        body {
            font-family: 'Poppins', sans-serif;
            background: #fafafa;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1.7em;
            color: #999;
        }

        a,
        a:hover,
        a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

        .navbar {
            padding: 15px 10px;
            background: #fff;
            border: none;
            border-radius: 0;
            margin-bottom: 40px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        }

        .navbar-btn {
            box-shadow: none;
            outline: none !important;
            border: none;
        }

        .line {
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed #ddd;
            margin: 40px 0;
        }

        /* ---------------------------------------------------
            SIDEBAR STYLE
        ----------------------------------------------------- */

        .wrapper {
            display: flex;
            width: 100%;
        }

        #sidebar {
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 999;
            background: #7386D5;
            color: #fff;
            transition: all 0.3s;
        }

        #sidebar.active {
            margin-left: -250px;
        }

        #sidebar .sidebar-header {
            padding: 20px;
            background: #6d7fcc;
        }

        #sidebar ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

        #sidebar ul p {
            color: #fff;
            padding: 10px;
        }

        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

        #sidebar ul li.active>a,
        a[aria-expanded="true"] {
            color: #fff;
            background: #6d7fcc;
        }

        a[data-toggle="collapse"] {
            position: relative;
        }

        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }

        ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #6d7fcc;
        }

        ul.CTAs {
            padding: 20px;
        }

        ul.CTAs a {
            text-align: center;
            font-size: 0.9em !important;
            display: block;
            border-radius: 5px;
            margin-bottom: 5px;
        }

        a.download {
            background: #fff;
            color: #7386D5;
        }

        a.article,
        a.article:hover {
            background: #6d7fcc !important;
            color: #fff !important;
        }

        /* ---------------------------------------------------
            CONTENT STYLE
        ----------------------------------------------------- */

        #content {
            width: calc(100% - 250px);
            padding: 40px;
            min-height: 100vh;
            transition: all 0.3s;
            position: absolute;
            top: 0;
            right: 0;
        }

        #content.active {
            width: 100%;
        }

        /* ---------------------------------------------------
            MEDIAQUERIES
        ----------------------------------------------------- */

        @media (max-width: 768px) {
            #sidebar {
                margin-left: -250px;
            }
            #sidebar.active {
                margin-left: 0;
            }
            #content {
                width: 100%;
            }
            #content.active {
                width: calc(100% - 250px);
            }
            #sidebarCollapse span {
                display: none;
            }
        }
        .wrapper {
            margin-top: 10px !important;
        }

        .container{
            position: relative;
            margin-top: 10%;
            margin-left: 20%;
        }
        .error {
            color: red;
        }
        #sidebar{
            background-color: black;
        }
        #sidebar ul li.active>a {
            background-color: black;
        }
        #sidebar .sidebar-header {
            background-color: black;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>RESTAURANT-MANAGEMENT</h3>
        </div>
        <ul class="list-unstyled components">
            <p>THÔNG TIN</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">TUỲ CHỌN</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/home" class="btn btn-outline-light">
                            Trang chủ
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="btn btn-outline-light" onclick="staff.openModal()">
                            Quản lý nhân viên
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="btn btn-outline-light" onclick="notification.openModal()">
                            Gửi Thông Báo
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="btn btn-outline-light" onclick="table.openModal()">
                            Thêm bàn mới
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="btn btn-outline-light" onclick="category.openModal()">
                            Thêm Danh mục
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="btn btn-outline-light" onclick="product.openModal()">
                            Thêm món ăn
                        </a>
                    </li>
                    <li>
                        <a href="/logout" class="btn btn-outline-light" >
                            Thoát
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-outline-dark">
                    <i class="fas fa-align-left"></i>
                    <span>Menu</span>
                </button>
            </div>
    </div>
</div>
<!--Body-->
<div class="container">
    <div class="row">
<!--        bảng doanh thu-->
       <div class="col-6">
           <h1 style="background: black; color: white">Bảng thống kê doanh thu</h1>
           <table class="table table-dark">
               <thead>
               <tr>
                   <th>Tên nhân viên</th>
                   <th>Số tiền</th>
                   <th>Thời gian</th>
               </tr>
               </thead>
               <tbody id="billList">
               </tbody>
               <tfoot>
               <h1>Tổng: </h1>
               <h1 id="revenue" style="background: black; color: white"></h1>
               </tfoot>
           </table>
           <a href="javcript:;" class="btn btn-outline-dark" onclick="resetRevenue()">Reset Doanh thu</a>
       </div>
<!--        Bảng danh sách món ăn-->
        <div class="col-6">
            <h1 style="background: black; color: white">Danh sách món ăn hiện có</h1>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Tên Món Ăn</th>
                        <th>Danh mục</th>
                        <th>Giá</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="product_list">
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h1 style="background: black; color: white">Báo cáo</h1>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th>Nội Dung báo cáo</th>
                    <th>Tên NV</th>
                    <th>Thời gian</th>
                    <th>Tình trạng</th>
                </tr>
                </thead>
                <tbody id="report_list">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Notification-->
<div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notification_create">Gửi báo cáo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <form id="notificationCreate">
                            <div class="form-group">
                                <label for="sender">Người gửi: </label>
                                <input class="form-control" id="sender" data-rule-required="true" data-msg-required="Không được bỏ trống">
                            </div>
                            <div class="form-group">
                                <label for="notification_descript">Nội dung thông báo: </label>
                                <textarea class="form-control" id="notification_descript" data-rule-required="true" data-msg-required="Không được bỏ trống"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-primary" onclick="createNotification()">
                    Gửi
                </a>
            </div>
        </div>
    </div>
</div>

<!--Modal table-->
<div class="modal fade" id="table" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo bàn mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="tableCreate">
                    <div class="form-group">
                        <label for="nameTable">Tên bàn</label>
                        <input type="text" id="nameTable" data-rule-required="true" data-msg-required="Không được bỏ trống" />
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="status">
                        <label class="form-check-label" for="status">Bàn đặt</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-primary" onclick="table.save()">
                    Lưu lại
                </a>
            </div>
        </div>
    </div>
</div>
<!--Modal category-->
<div class="modal fade" id="category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategpry">Thêm danh mục mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add_category">
                    <div class="form-group">
                        <label for="nameCategory">Tên danh mục : </label>
                        <input type="text" id="nameCategory" data-rule-required="true" data-msg-required="Không được bỏ trống" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-primary" onclick="category.save()">
                    Lưu lại
                </a>
            </div>
        </div>
    </div>
</div>
<!--Modal product-->
<div class="modal fade" id="product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProduct">Thêm món mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add_product">
                    <div class="form-group">
                        <label for="nameProduct">Tên Món : </label>
                        <input type="text" id="name_Product" data-rule-required="true" data-msg-required="Nhập tên" />
                    </div>
                    <div class="form-group">
                        <label for="price_Product">Giá: </label>
                        <input type="number" id="price_Product" data-rule-number="true" data-msg-number="Nhập giá" />
                    </div>
                    <div class="form-group">
                        <label for="category_select">Danh mục</label>
                        <select class="form-control" id="category_select">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-primary" onclick="productSave()">
                    Lưu lại
                </a>
            </div>
        </div>
    </div>
</div>

<!--Modal edit-->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProduct">Sửa thông tin món ăn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit_product">
                    <div class="form-group">
                        <input type="hidden" id="id" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="nameProduct">Tên Món : </label>
                        <input type="text" id="nameProduct" data-rule-required="true" data-msg-required="Nhập tên" />
                    </div>
                    <div class="form-group">
                        <label for="price_Product">Giá: </label>
                        <input type="number" id="priceProduct" data-rule-number="true" data-msg-number="Nhập giá" />
                    </div>
                    <div class="form-group">
                        <label for="category_select">Danh mục</label>
                        <select class="form-control" id="categorySelect">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-primary" onclick="productSaveEdit()">
                    Lưu lại
                </a>
            </div>
        </div>
    </div>
</div>


<!--Validator-->
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<!--bootbox-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
<!--Notify-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- jQuery CDN - Slim version (=without AJAX) -->
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<!--Jquery-->
<script type="text/javascript">
<!--    notification   -->
notification.openModal = function () {
    $("#notification").modal("show");
}

createNotification = function (){
    if($("#notificationCreate").valid()){
        Swal.fire({
            title: 'Bạn có muốn gửi thông báo này không?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Có',
            denyButtonText: `Không`,
        }).then((result) => {
            if (result.isConfirmed) {
               let notification = {
                   name: $("#sender").val(),
                   notification: $("#notification_descript").val(),
                   createdAt: new Date (),
               }
               $.ajax({
                   headers: {
                       'Accept':'application/json',
                       'Content-Type':'application/json'
                   },
                   url: "/api/notification/create",
                   type: "POST",
                   data: JSON.stringify(notification)
               }).done (function (date){
                   $.notify("Gửi thành công", "success");
               }).fail(function (){
                   $.notify("Gửi thất bại", "error");
               })
            } else if (result.isDenied) {
                Swal.fire('Gửi không thành công', '', 'info')
            }
        })
    }
}

<!--    Table -->
    table.openModal = function () {
        $("#table").modal("show");
        table.resetForm();
    }
    table.save = function (){
       if($("#tableCreate").valid()){
           let table = {
               name: $("#nameTable").val(),
               status : $("#status").is(":checked")
           }
           $.ajax ({
               url: "/api/table/create",
               type: "POST",
               contentType: "application/json",
               data: JSON.stringify(table)
           }).done (function (tableResp) {
               // show();
               $('#table').modal('hide');
               $.notify("Tạo bàn thành công", "success");
           }).fail(function (){
               $.notify("Tạo bàn thất bại", "error");
           })
        }
    }
    table.resetForm = function () {
        $("#nameTable").val('');
        $("#status").prop('checked', false);
    }
    //Report
    getAllReport = function () {
       $.ajax({
           headers: {
               'Accept': 'application/json',
               'Content-Type': 'application/json'
           },
           url: "/api/report/getall",
           type: "GET"
       }).done (function (data){
           $.each(data,function (index,item) {
               $("#report_list").prepend(
                   `
                   <tr>
                    <td>${item.report}</td>
                    <td>${item.name}</td>
                    <td>${convert(item.createdAt)}</td>
                    <td>
                            <a  class='btn ${item.status ? 'btn-warning' : 'btn-secondary'} btn-sm'>
                                <i class='fa ${item.status ? 'fa-lock' : 'fa-lock-open'}'></i>
                            </a>
                    </td>
                   </tr>
                   `
               )
           })
       }).fail(function (){
           $.notify("lỗi khi tải báo cáo", "error");
       })

    }

    // Bảng doanh thu

    getAllRevenue = function () {
        $.ajax ({
            headers: {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            url: "/api/bill/getall",
            type: "GET"
        }).done(function (data){
            console.log(data);
            let revenue = 0;
            $.each(data,function (index,item) {
                revenue += item.total;
                $("#billList").prepend(
                    `
                    <tr>
                       <td>${item.nameStaff}</td>
                       <td>${item.total}</td>
                       <td>${convert(item.createdAt)}</td>
                    </tr>
                    `
                )
            })
            $("#revenue").text(formatNumber(revenue) + ",000"+" vnđ");
        }).fail(function (){
            $.notify("lỗi khi tải doanh thu", "error");
        })
    }

    resetRevenue = function () {
        Swal.fire({
            title: 'chức năng này đang được phát triển vui lòng đợi version tiếp theo?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'ok',
            denyButtonText: `ok`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                Swal.fire('Cảm ơn :)', '', 'success')
            } else if (result.isDenied) {
                Swal.fire('Cảm ơn :)', '', 'success')
            }
        })
    }

    //Category
    category.openModal = function () {
        $("#nameCategory").val('');
        $("#category").modal("show");
    }


    category.save = function () {
        if ($("#add_category").valid()) {
            Swal.fire({
                title: 'Bạn có muốn lưu lại không?',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Có',
                denyButtonText: `Không`,
            }).then((result) => {
                if (result.isConfirmed) {
                    let category = {
                        name : $("#nameCategory").val()
                    }
                    $.ajax({
                        headers: {
                            'Accept':'application/json',
                            'Content-Type':'application/json'
                        },
                        url: "/api/category/create",
                        type: "POST",
                        data: JSON.stringify(category)
                    }).done(function (data){
                        if(data != null) {
                            Swal.fire('Đã lưu thành công!', '', 'success')
                            $("#category").modal("hide");
                        }
                    }).fail(function (){
                        Swal.fire('lưu không thành công!', '', 'error')
                    })

                } else if (result.isDenied) {
                    Swal.fire('Không được lưu', '', 'info')
                }
            })
        }
    }

    getAllCategory = function () {
        $.ajax({
            headers: {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            url: "/api/category/list",
            type: "GET"
        }).done (function (data) {
            $("#category_select").empty();
            $("#categorySelect").empty();
            $.each(data ,function (index, item) {
                $("#category_select").prepend(
                    `
                    <option value="${item.id}">${item.name}</option>
                    `
                )
                $("#categorySelect").prepend(
                    `
                    <option value="${item.id}">${item.name}</option>
                    `
                )

            })
        }).fail(function (){
            $.notify("lỗi khi tải danh mục", "error");
        })
    }

    getCategoryById = function (id) {
        $.ajax({
            headers: {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            url: "/api/category/getbyid/" + id,
            type: "GET"
        }).done(function (data){
            console.log(date);
        }).fail (function (){
            $.notify("lỗi khi tải danh mục", "error");
        })
    }

    // Add prduct
    product.openModal = function () {
        $("#nameProduct").val('');
        $("#price_Product").val('');
        $("#product").modal("show");
        getAllCategory();
    }

    productSave = function () {
        if($("#add_product").valid()){
            Swal.fire({
                title: 'Bạn muốn lưu lại không?',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Lưu',
                denyButtonText: `Không lưu`,
            }).then((result) => {
                if (result.isConfirmed) {
                    let category = {
                        id: parseInt($("#category_select").val()),
                        name: $("#category_select :selected").text()
                    }
                    let product = {
                        name: $("#nameProduct").val(),
                        price: $("#price_Product").val(),
                        category: category
                    }
                    $.ajax({
                        headers: {
                            'Accept':'application/json',
                            'Content-Type':'application/json'
                        },
                        url: "/api/product/create",
                        type: "POST",
                        data: JSON.stringify(product)
                    }).done(function (data) {
                        if(data != null) {
                            $("#product").modal("hide");
                            getAllProduct();
                            $.notify("Thêm món ăn thành công", "success")
                        }
                    }).fail(function (){
                        alert("that bai");
                    })
                } else if (result.isDenied) {
                    Swal.fire('Không lưu', '', 'info')
                }
            })
        }
    }

    getAllProduct = function () {
        $.ajax({
            headers: {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            url: "/api/product/getproduct",
            type: "GET"
        }).done(function (data){
            $("#product_list").empty();
            $.each(data, function (index, item) {
                $("#product_list").prepend(
                    `
                    <tr id="tr_${item.id}">
                        <td>${item.name}</td>
                        <td>${item.category.name}</td>
                        <td>${item.price}</td>
                        <td>
                            <button onclick="deleteProduct(${item.id})" class="btn btn-outline-danger"><i class="fa fa-"></i>Xoá</button>
                            <button onclick="editProduct(${item.id})" class="btn btn-outline-primary"><i class="fa fa-edit"></i>Edit</button>
                        </td>
                    </tr>
                    `
                )
            })
        }).fail(function (){
            $.notify("lấy list product lỗi", "error")
        })
    }

    //delete Product
    deleteProduct = function (id) {
        Swal.fire({
            title: 'Bạn có muốn xoá món ăn này?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Có',
            denyButtonText: `Không`,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    headers: {
                        'Accept':'application/json',
                        'Content-Type':'application/json'
                    },
                    url: "/api/product/delete/" + id,
                    type: "GET"
                }).done(function (resp){
                    console.log(resp);
                    $("#tr_" + id).remove();
                    $.notify("Xoá thành công", "success")
                }).fail(function (){
                    $.notify("Xoá không thành công", "error")
                })
            } else if (result.isDenied) {
                Swal.fire('Changes are not saved', '', 'info')
            }
        })
    }

    //Edit product
    editProduct = function (id) {
        $.ajax({
            headers: {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            url: "/api/product/getprice/" + id,
            type: "GET"
        }).done (function (product) {
                $("#edit").modal("show")
                $("#id").val(product.id);
                $("#nameProduct").val(product.name);
                $("#priceProduct").val(product.price);
                $("#categorySelect").val(product.category.id);
        }).fail (function () {
            $.notify("không lấy được thông tin món ăn", "error");
        })
    }

    //update product
    productSaveEdit = function () {
        let category = {
            id : $("#categorySelect").val(),
            name: $("#categorySelect :selected").text(),
        }
        let product = {
            id: $("#id").val(),
            name: $("#nameProduct").val(),
            price: $("#priceProduct").val(),
            category:category
        }
        $.ajax({
            headers: {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            url: "/api/product/create",
            type: "POST",
            data: JSON.stringify(product)
        }).done(function (data){
            if(data != null) {
                console.log(data);
                $("#edit").modal("hide");
                getAllProduct();
            }
        }).fail(function (){
            $.notify("Cập nhật không thành công", "error");
        })
    }

    //convert date
    convert = function (value) {
        let date = new Date(value);
        return date.toLocaleString()
    }

    //format Number
    function formatNumber (num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
    }

    <!--    template-->
    init = function (){
        getAllCategory();
        getAllRevenue ();
        getAllProduct();
        getAllReport();
    }
    $(document).ready(function () {
       init();
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
</body>
</html>